# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.buildlog/
.history
.svn/

# IntelliJ
.idea/
*.iml
*.ipr
*.iws
out/

# The Flutter SDK
.flutter-plugins
.flutter-plugins-dependencies
.packages
.pub-cache/
.pub/
/build/

# Android Studio
.gradle/
app/src/main/gen/
captures/
local.properties

# Xcode
.xcworkspace/
build/
*.hmap
*.xccheckout
/ios/Flutter/App.framework
/ios/Flutter/Flutter.framework
/ios/Flutter/Generated.xcconfig
/ios/Flutter/flutter_export_environment.sh
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-1024.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-167.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-20.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-29.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-40.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-58.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-60.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-76.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-80.png
/ios/Runner/Assets.xcassets/AppIcon.appiconset/Icon-87.png
/ios/Runner/GeneratedPluginRegistrant.*

# Visual Studio Code
.vscode/

# Don't ignore the release APK
!/build/app/outputs/flutter-apk/app-release.apk
